body {
    text-align: center;
    color: #232424;
    background-image: url('cover.png'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    position: relative;
    top: 2px;
    color: white;
    font-size: 100px;
    font-family: 'Permanent Marker', cursive;
}
button {
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    position: fixed;
    text-align: center;
    font-size: 50px;
    bottom: 30px;
    left: 43%;
}